*

.git
pix_elixir/
pix_ruby/
pix_kernel/
images/
**/build
**/log.txt
**/.cache
**/compile_commands.json

!.dockerignore
!Dockerfile
!Dockerfile.firmware
!Makefile
!pix_esp8266/
!pix_esp8266/platformio.ini
!pix_esp8266/.pio/
!pix_esp8266/.pio/build/
!pix_esp8266/.pio/build/tft/
!pix_esp8266/.pio/build/tft/firmware.bin
